<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321472908222-53i38dm0bm521o53436ba517vf7te0c3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321472908222-53i38dm0bm521o53436ba517vf7te0c3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtrfTyQzx4kPE0cMvbPK_z-WXnPh2iQ48</string>
	<key>GCM_SENDER_ID</key>
	<string>321472908222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-7e959</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-7e959.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321472908222:ios:f1c20f32263c2274d947ef</string>
</dict>
</plist>